:root {
	--ctr-color: rgb(205, 205, 205);
	--ctr-hover: rgb(255, 255, 55);
	--ctr-active: rgb(250, 255, 255);
	--schadow: -0.2vw 0.2vw 0.4vw rgb(0, 0, 0);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 1rem;
	line-height: 1.8;
	color: black;
}

main {
	margin: 69px 0 0;
}

.container {
	position: relative;
	width: 100%;
	margin-top: 10px;
	padding: 0px;
	background: url(images/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	border: 1px solid black;
}

canvas {
	opacity: 1.0;
	width: 100%;
	height: 100%;
}

.scene {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
}

.mouse-area {
	width: 100%;
	height: 100%;
}

.controls {
	width: 12vw;
	height: 100%;
	margin-left: 1vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 1.0;
}

/**************** общие стили кнопок *************************/
.control_decor_house,
.control_decor_door,
.control_motion {
	margin-top: 1.5vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.decor_house,
.slider,
.move_center {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0.25vw solid var(--ctr-color);
	border-radius: 50%;
	cursor: pointer;
	box-shadow: var(--schadow);
}

.decor_house:hover,
.slider:hover,
.move_center:hover {
	border: 0.25vw solid var(--ctr-hover);
}

/****************** сцена-дом (background) ****************************/
.decor_house {
	position: relative;
	height: 3.0vw;
	width: 3.0vw;
	font-size: 2.2vw;
	font-weight: 100;
	color: var(--ctr-active);
	text-shadow: var(--schadow);
}

.decor_house[data-selected]::before {
	content: "\2714";
}

.slider:hover::after,
.decor_house:hover::after {
	position: absolute;
	left: 0;
	top: -40%;
	content: attr(data-text);
	z-index: 1;
	font-size: 1.0vw;
	line-height: 1vw;
	padding: 0px;
	color: white;
	text-shadow: var(--schadow);
}

.decor_house:active {
	border: 0.2vmax solid var(--ctr-active);
}

/******************* дверь ***************************/
.slider {
	justify-content: left;
	height: 4vw;
	width: 4vw;
	background-color: #444;
	overflow: hidden;
}

.slider-line {
	display: flex;
	transition: all ease 1s;
}

.slider-item {
	height: 3.8vw;
	width: 3.8vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider-item img {
	height: 70%;
}

/******************* повороты ***************************/
.move_center {
	height: 4vw;
	width: 4vw;
	background-color: #444;
}

.move_center img {
	width: 70%;
}

/********************* svg стрелки ****************************/
.arrow {
	width: 100%;
	max-width: 2.0vw;
	max-height: 2.0vw;
	cursor: pointer;
}

svg {
	fill: none;
	stroke: var(--ctr-color);
	stroke-width: 0.18vw;
	stroke-linecap: round;
	stroke-linejoin: round;
	filter: drop-shadow(0px 0px 0.2vw black);
	transition: stroke 0.4s ease-in-out;
}

svg:hover polyline {
	stroke: var(--ctr-hover);
}

svg:active polyline {
	stroke: var(--ctr-active);
}

/* примерная область двери в сцене (TODO можно сделать пиксельный поиск двери через canvas) */
.door_area {
	position: absolute;
	top: 50%;
	left: 30vw;
	width: 8vw;
	height: 33%;
	cursor: pointer;
	opacity: 0;
	visibility: visible;
}

/**************** подписи к группам кнопок *************************/
.control_decor_title,
.control_door_title,
.control_motion_title {
	display: box;
	margin: 0.5vw auto;
	padding: 0 10px 0;
	width: fit-content;
	border-radius: 1vmax;
	font-size: 0.7vw;
	font-weight: 800;
	line-height: 1.2vw;
	color: black;
	background-color: var(--ctr-color);
	box-shadow: var(--schadow);
}

/*********************** индикатор загрузки **********************************/
.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 10vh;
	width: 10vh;
	transform: translate(-50%, -50%);
	border: 1vh solid var(--ctr-color);
	border-top: 1vh solid #444;
	border-right: 1vh solid #444;
	border-radius: 50%;
	animation: spin 1s linear infinite;
	visibility: visible;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/************* скрыть панель управления в мобильном режиме ****************/
@media screen and (orientation: portrait) {
	.controls {
		visibility: hidden;
	}

	.door_area {
		position: absolute;
		top: 50%;
		left: 61vw;
		width: 13vw;
		height: 33%;
		opacity: 0;
		visibility: visible;
	}
}

/****************** DEBUG: метка кадра ***********************************/
.label {
	position: absolute;
	top: 0vw;
	left: 15vw;
	font-size: 2vw;
	color: darkblue;
}